.title {
    display: flex;
    color: white;
    justify-content: center;
    margin-top: 50px;
    font-weight: bold;
}

.title span {
    color: red;
}
.container {
    text-align: center;
}

.boxes {
    display: flex;
    height: 180px;
    width: 180px;
    background: rgb(8, 29, 94);
    border: 4px solid black;
    border-radius: 12px;
    cursor: pointer;
}
.board {
    height: 600px;
    width: 564px;
    display: flex;
    margin: auto;
}
.boxes img {
    margin: 40px 40px;
}
.title img {
    height: 35px;
    padding-left: 20px;
    padding-right: 20px;
}
/* Add your CSS styles here */
.calculator {
    height: 400px;
    width: 285px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    
    background-color: #3c3a3a3c;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 20px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
}
#clearButton {
    background-color: rgb(148, 38, 38);
}
#buttons {
    background-color: rgba(255, 255, 255, 0.606);
    color: black;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    width: 100%;
    height: 75px;
    font-size: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
